<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AquaScale | Water Leakage Report App</title>
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Owl Carousel Assets -->
    <link href="/public/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="/public/assets/css/owl.theme.css" rel="stylesheet">


    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href="/public/assets/css/Pe-icon-7-stroke.css">

    <!-- Font Awesome -->
    <link href="/public/assets/css/font-awesome.min.css" rel="stylesheet">


    <!-- PrettyPhoto -->
    <link href="/public/assets/css/prettyPhoto.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="/public/assets/image/x-icon" href="favicon.ico" />



    <link href="/public/assets/css/animate.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="/public/assets/css/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Style -->
    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/public/assets/css/dashboard.css">
</head>

<body>
<div class="spn_hol">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>


<section class="apps_screen parallax dashboardbg">

    <!--<div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">-->
    <!-- APPS SCREEN TITLE -->
    <div class="section_title">
        <!--<h2>Screens</h2>-->
        <h2>Water Leakage Report</h2>
        <!--</div>-->

    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="">
                <table class = "table">

                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Durantion</th>
                        <th>Type</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-title="Time">2016/4/3 13:23 PM</td>
                        <td data-title="Location">Door</td>
                        <td data-title="Durantion">3 hr</td>
                        <td data-title="Type">1</td>
                    </tr>

                    <tr>
                        <td data-title="Time">2016/4/5 6:17 AM</td>
                        <td data-title="Location">Restroom (women)</td>
                        <td data-title="Durantion">1 hr</td>
                        <td data-title="Type">2</td>
                    </tr>

                    <tr>
                        <td data-title="Time">2016/4/5 6:17 AM</td>
                        <td data-title="Location">Restroom</td>
                        <td data-title="Durantion">0.5 hr</td>
                        <td data-title="Type">2</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div><!--end of .table-responsive-->

    </div>
</section>

<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/bootstrap.min.js"></script>
<script src="/public/assets/js/owl.carousel.js"></script>
<script src="/public/assets/js/jquery.fitvids.js"></script>
<script src="/public/assets/js/smoothscroll.js"></script>
<script src="/public/assets/js/jquery.parallax-1.1.3.js"></script>
<script src="/public/assets/js/jquery.prettyPhoto.js"></script>
<script src="/public/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/public/assets/js/jquery.ajaxchimp.langs.js"></script>
<script src="/public/assets/js/wow.min.js"></script>
<script src="/public/assets/js/waypoints.min.js"></script>
<script src="/public/assets/js/jquery.counterup.min.js"></script>
<script src="/public/assets/js/script.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/public/assets/js/script.js"></script>



</body>
</html>
